/*Google Font - Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
   /* min-height: 100vh;*/
    background-color: lightgrey;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    background-image: url('../img/pixelcut-export (1).jpeg');
    background-repeat: no-repeat;
    background-color: mediumturquoise;
    justify-content: center;
    /*border: 10px solid red;*/ /*para hacer pruebas*/
    /*clip-path: polygon(0 0%, 100% 0%, 100% 81%, 0% 100%);*/
}

.footer { /*footer*/
    position: absolute;
    bottom: 0;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.table{
    max-width: 100%;
    font-size: 15px;
}

.container{
    max-width:2500pX;
    padding: 0 20px;
}

.button {
    padding: 10px 20px;
    /*font-size: 1.1rem;*/
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
}

.button-primary {
    color: black;
    background-color: forestgreen;
}

.button-primary:hover{
    background-color: lightgreen;
    transition: background-color 0.3s ease-in-out;
}

/*.titulo{
    margin: 30px;
}*/

.especialidades{
    margin-top: 30px;
    background-color: red;
}

/* HOME*/
.section1 {
    justify-content: space-between;
}

.titPpal {
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-style: oblique;
    /*color: black;*/
    /*color: rgb(255, 255, 255);*/
    color: black;
}

.lista1 {
    font-size: 30px;
    list-style-image: url('data:image/svg+xml,<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="13.2772" cy="13.4999" r="11.9819" fill="%2330C663" stroke="%2330C663" stroke-width="2.59067"/><path d="M7.125 13.8227L11.011 18.0326L19.4307 9.28906" stroke="white" stroke-width="3"/></svg>');
    margin-left: 1rem;
    padding: 11px 20px 3px 24px;
    background-position: left 4px;
    padding-left: 3px;
    color: rgb(255, 255, 255);
}

.container {
    max-width: 2500pX;
    padding: 0 20px;
}

.d-none {
    /*display: none !important;*/
    margin-top: 30px;
}

.d-lg-block {
    display: block !important;
}

.row {
    /*margin-top: 7px;*/
    padding: 15px 0 10px 40px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.my-boton {
    background: linear-gradient(to bottom, #007bff, #0096ff);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.my-boton {
    color: blue;
}

    .my-boton:hover {
        color: white;
    }

.mi-card {
    border-radius: 12px;
}

/*LOGIN*/
/*.rowLogIn{
    justify-content: center;
    align-items: center;
}*/

.containerLogIn {
    text-align: center;
}

.nuevaEspecialidad {
    margin-left: 20px; 
    display: flex;
    justify-content: center;
    align-content: center;
}

.lblNuevaEspecialidad {
    text-align: center;
    padding: 10px;
    color: black;
}

.txtNuevaEspecialidad{
    padding: 5px;
    width: 300px;
    font-size: 20px;
    border-radius: 10px;
}

.txtDescripcionNuevaEspecialidad {
    width: 800px;
    height: 300px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.agregarEspecialidad{
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
}

.registrarseLogIn {
    /*font-size: 30px;*/
    margin-top: 40px;
}

.fuenteLogIn{
    color: aliceblue;
    background-color: mediumblue;
    border-radius: 12px;
}

.fuenteLogIn:hover {
    background-color: cornflowerblue;
    transition: background-color 0.3s ease-in-out;
}

.nuevoPaciente{
    color: black;
}
