* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: lightgrey;
}

a{
    text-decoration: none;
}

.container{
    max-width:2500pX;
    padding: 0 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
}

.button-primary {
    color: black;
    background-color: forestgreen;
}

.button-primary:hover{
    background-color: lightgreen;
    transition: background-color 0.3s ease-in-out;
}